/* General Styling */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-size: 1.55rem;
}

h1 {
    margin-bottom: 10;
    font-size: 3rem;
    font-weight: bold;
}
a.text-link {
    color: blue; 
    text-decoration: underline; 
}


/* Top Bar */
.top-bar {
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 80px; 
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: rgba(0, 0, 0, 0.014); 
    transition: background-color 0.3s ease; 
    box-sizing: border-box;
}

.top-bar.scroll-black {
    background-color: black; 
}

.top-bar h1 {
    color: #ff0015;
    font-size: 2.5rem;
    margin: 0; 
    padding: 0; 
    line-height: 1;
}

.menu-button {
    color: #ff0a05; 
    margin: 0; 
    padding: 0; 
    line-height: 1;
    font-size: 3.2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;

}
.menu-button:hover {
    transform: scale(1.3); 
    color: #ff0000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #1e1e1e;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    z-index: 20;
}

.sidebar a {
    color: rgb(215, 8, 8);
    font-weight: bold;
    text-decoration: none;
    flex-direction: column;
    font-size: 1.5rem;
}

.sidebar a:hover {
    text-decoration: underline; 
    text-decoration-color: white; 
    text-underline-offset: 4px; 
}


.close-button {
    position: absolute;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;
}

.close-button:hover {
    color: #ff0000; 
}
/* Intro Page */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.intro-text {
    font-size: 5rem;
    text-align: center;
    color: red;
    font-weight: bold;
    display: flex;
    gap: 0.1rem;
    animation: fadeOut 0.5s ease-in 2s forwards;
}

.intro-letter {
    opacity: 0;
    animation: writeLetter 0.25s ease-in forwards;
    display: inline-block;
}

@keyframes writeLetter {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
    }
}

/* Who's Watching Page */
#profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    font-size: 80px;
}

.profile-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.profile {
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.profile img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid white;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.profile img:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}

.profile p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

/* Loading Screen */

#loading-screen {
    display: none; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: black;
    overflow: hidden; 
}

#loading-screen img {
    transform: rotate(90deg); 
    width: 100vh; 
    height: 100vw;
    object-fit: cover; 
}

/* For You Page */
.profile-picture {
    display: flex;
    width: 100%;
    justify-content: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 850px;
    flex-direction: column;
    align-items: center;
    position: relative; 
    margin: 20px 0;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


.profile-overlay {
    position: absolute;
    bottom: 100px; 
    left: 30px;
    z-index: 15; 
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 45%;
    font-size: 1.4rem;
    line-height: 1.3;
}
.profile-title {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(236, 251, 31);
    font-size: 5rem;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: left; 
}

.profile-buttons {
    position: absolute;
    bottom: 50px; 
    left: 30px; 
    display: flex;
    gap: 20px; 
    z-index: 10; 
}

.profile-buttons button {
    padding: 10px 20px;
    width: 200px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.profile-buttons .resume-button {
    background-color: white;
    color: black;
    font-size: 1.4rem;
}

.profile-buttons .contact-button {
    background-color: gray;
    color: white;
    font-size: 1.4rem;
}

.profile-buttons button:hover {
    background-color: #d11a2a;
    transform: translateY(-2px);
}

.section-title {
    font-size: 2rem;

}

/* Movie Tiles */
.movie-title {
    display: flex;
    justify-content: flex-start; 
    gap: 20px;
    margin: 20px 0;
    padding: 0 20px;
}

.movie-container {
    position: relative; 
    width: 450px;
    height: 200px;
    overflow: hidden; 
}

.movie-container img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.movie-container:hover img {
    transform: scale(1.05); 
}

.movie-label {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%; 
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px 10px;
    border-radius: 4px; 
    font-size: 1rem;
    text-align: center;
    pointer-events: none; 
    z-index: 10;
}

.movie-container:hover .movie-label {
    background-color: rgba(215, 8, 8, 0.8); 
    transform: translate(-50%, -50%) scale(1.1); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
}


/* Watch Movies */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.movie-player-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 20px;
    color: white;
}

.movie-header h1 {
    font-size: 2.5rem;
    color: #e01d2d;
}

.back-button {
    background-color: #e01d2d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: white;
    color: #e01d2d;
}

.movie-content {
    display: flex;
    flex: 1;
    padding: 20px;
}

.movie-video {
    flex-direction: column;
    flex: 1;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
.audio-player button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    border: none;
    font-size: 1.5rem; 
    padding: 15px; 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.audio-player button:hover {
    background-color: #d11a2a; 
    color: white; 
    transform: scale(1.1);
}


.progress-bar-container {
    cursor: pointer;
    width: 63%;
    height: 6px;
    background-color: #f7f6f6;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #e20000;
    transition: width 0.1s ease;
    border-radius: 2.5px;
}

.placeholder-video {
    width: 80%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.movie-description {
    position: relative;
    flex: 1;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    
}

.github-button-container {
    position: relative;
    margin-top: 50px;
    bottom: 10;
    left: 0;
    padding: 10px;
}

.github-button {
    position: absolute;
    bottom: 20px;
    right: 2px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 10px; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    text-align: center; 
}

.github-button:hover {
    background-color: #d70101; 
}

.movie-description h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #e01d2d;
}

.movie-description p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #141414;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: white;
    flex-shrink: 0; 
    margin-top: auto;
}
